button {
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    text-align: center;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    /* transform: rotate(180deg); */
}